<nav class="p-4 w-full">
  <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
    <li>
      <a routerLink="by-capital" routerLinkActive="btn-primary" class="btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 14 14"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m5.031 5l-.19-1.298a2.97 2.97 0 0 1 .607-2.267a1.977 1.977 0 0 1 3.104 0c.505.64.725 1.46.607 2.267L8.969 5l3.833 1.944a.989.989 0 0 1-.665 1.846L8.5 7.97L8.281 10l1.9 1.61a.991.991 0 0 1-1.035 1.664L7 12.344l-2.146.93a.99.99 0 0 1-1.035-1.665L5.72 10L5.5 7.969l-3.637.821a.989.989 0 0 1-.665-1.846z"
            stroke-width="1"
          />
        </svg>
        Por capital
      </a>
    </li>
    <li>
      <a routerLink="by-country" routerLinkActive="btn-primary" class="btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 14 14"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.005 5.428c.157-.065.257-.094.35-.186a.494.494 0 0 0 0-.7c-.093-.092-.124-.147-.35-.214C12.78 4.262 1.81.554 1.81.554A.99.99 0 0 0 .553 1.809S4.35 12.856 4.396 13.006s.106.257.199.35a.495.495 0 0 0 .7 0c.092-.093.113-.146.183-.35l1.94-5.594s5.431-1.919 5.587-1.984"
            stroke-width="1"
          />
        </svg>
        Por país
      </a>
    </li>
    <li>
      <a routerLink="by-region" routerLinkActive="btn-primary" class="btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 14 14"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m4.83 12.5l-3.105.717A1 1 0 0 1 .5 12.243V2.295a1 1 0 0 1 .775-.974L4.83.5zm0 0l4.34 1v-12L4.83.5zm8.67-.795a1 1 0 0 1-.775.974L9.17 13.5v-12l3.105-.717a1 1 0 0 1 1.225.974z"
            stroke-width="1"
          />
        </svg>
        Por región
      </a>
    </li>
  </ul>
</nav>
